@use "base" as *;

body {
  @include mq(tablet) {
  }
}
.has-background-background-color {
  top: 0;
  position: fixed;
  width: 100vw;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1.4rem;
  box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.4);
}
main {
  padding-top: 10rem;
}
.wp-block-navigation svg {
  width: 2rem;
  height: auto;
}
.wp-block-image {
  border-radius: 8px;
  overflow: hidden;
}
.wp-block-buttons {
  width: 100%;
  .wp-block-button {
    width: 100%;
    @include mq(tablet) {
      width: auto;
    }
    .wp-element-button {
      width: 100%;
      .wp-block-button__width-50 {
        width: 100%;
      }
      @include mq(tablet) {
        width: auto;
      }
    }
  }
}
.wp-block-button__link {
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}
