$media: (
    tablet: 600px,
    desktop: 768px,
);

@mixin mq($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}

// USE

// @include md(tablet) {
//     background: coral;
// }